{%  extends 'base.html' %}

{% block content %}
{% load static %}
{% load cart_tag %}


<section id="cart_items">
		<div class="container">
            <h1 class="cart-page-title">YOUR ORDER</h1>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Description</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                    {% for key,value in request.session.cart.items %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{value.image}}" alt="" height="150px;"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{value.name}}</a></h4>
							</td>
							<td class="cart_price">
								<p>${{value.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
                                    <a>{{value.quantity}}</a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{ value.price|multiply:value.quantity }}</p>
							</td>

						</tr>
<!--						<a href="{% url 'cart_clear' %}">Clear Cart</a>-->
                    {% endfor %}

					</tbody>
					<tfoot>
						<td></td>
						<td></td>
						<td>
							<hr>
							<h4>Sub Total:</h4>
						</td>
						<td></td>
						<td>
							<hr>
							<h3>${{cart_total_amount}}</h3>
						</td>
					</tfoot>
				</table>
			</div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-shipping-update-wrapper">
                        <div class="cart-shipping-update">
                            <a id="rzp-button1">PLACE ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>

	</section> <!--/#cart_items-->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
  "key": "rzp_test_0Z2ymCPtbHYIHU",
  "amount": "50000",
  "currency": "INR",
  "name": "Acme Corp",
  "description": "Test Transaction",
  "image": "https://example.com/your_logo",
  "order_id": "{{order_id}}",
  "callback_url":"http://127.0.0.1:8000/success",

  "prefill": {
      "name": "Gaurav Kumar",
      "email": "gaurav.kumar@example.com",
      "contact": "9999999999"
  },
  "notes": {
      "address": "Razorpay Corporate Office"
  },
  "theme": {
      "color": "#3399cc"
  }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
      alert(response.error.code);
      alert(response.error.description);
      alert(response.error.source);
      alert(response.error.step);
      alert(response.error.reason);
      alert(response.error.metadata.order_id);
      alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
  rzp1.open();
  e.preventDefault();
}
</script>
</form>
{% endblock %}

