{%  extends 'base.html' %}

{% block content %}
{% load static %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for cat in category %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{cat.name}}
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for i in cat.subcategory_set.all %}
											<li><a href="/?category={{i.id}}">{{i.name}}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div><!--/category-productsr-->

						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									{% for i in brand %}
									<li class="filter" data-filter="brand"><a href="/?brand={{i.id}}" >
										<span class="pull-right">
										(50)</span>{{i.name}}</a>
									</li>
									{% endfor %}
								</ul>
							</div>


						</div><!--/brands_products-->



					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{product.image.url}}" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								<div class="carousel-inner">
										<div class="item active" >
										{% for obj in image_list %}
											<a href="{% url 'product_details' obj.id %}"><img src="{{obj.image.url}}"
																							  alt="" width="25%;"></a>
										{% endfor %}
										</div>

									</div>


								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product"
									 style="margin-left:-20px;" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'images/product-details/new.jpg' %}" class="newarrival" alt="" />
								<h2>{{product.name}}</h2>
								<p>Web ID: 1089772</p>
								<span>
									<span>US ${{product.price}}</span>
									<label>Quantity:</label>{{product.quantity}}
									<a href="{% url 'cart_add' product.id %}" type="button"
									   class="btn btn-default addToCart" onclick="ajaxCall()">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</a>
								</span>
								<p><b>Availability:</b> {{product.Availability}}</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b>{{product.brand}}</p>
								<a href=""><img src="{% static 'images/product-details/share.png' %}"
                                                class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->



				</div>
			</div>
		</div>
	</section>

{% endblock %}
