<!--{% extends 'base.html' %}-->

<!--{% block body %}-->
<!--<div class="container">-->
<!--    <div class="col-sm-4">-->
<!--        <h2>Password has been Changed</h2>-->
<!--        <p>You may go ahead and Login now</p>-->
<!--        <a href="{% url 'register' %}" class="btn btn-primary">Login</a>-->
<!--    </div>-->
<!--</div>-->

<!--{% endblock %}-->


{% extends "base.html" %}
{% block title %}
Password reset
{% endblock %}

{% block content %}
<h1>Password set</h1>
<p>Your password has been set. You can <a href="{% url 'login' %}">log in now</a>
</p>
{% endblock %}


